/*  Pub Crawl web app StyleSheet
    By CASA group for CM2003
 */

body{
    background-color: #59323C;
    font-family: "Old English";
    color: #F2EEB3;
}


nav {
    min-height: 5vh;
    font-family: "Old English Text MT";
}
.brand{
    font-size: 5vh !important;
    color: #F2EEB3;
    text-decoration: none;
}
.logo{
    height: 5vh;
    width: auto;
}



#content{
    color: #F2EEB3;
    background-color: #BFAF80;
    border: solid 0.15em #8C6954;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #260126;
}
