/*  Pub Crawl web app StyleSheet
    By CASA group for CM2003
 */
body{
    background-color: #59323C;
    font-family: "chawp","serif";
    background-image: url("../img/wood.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
}
/*
    CUSTOM FONT
*/
@font-face { font-family: chawp; src: url('font/chawp.otf'); }
/*
    Navigation
    Area where the team logo and the app title go
*/
nav {
}
.site-title img{
    width: 20vh;
}
/*
    A(Hypertext Links) tag override
*/
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
a:hover{
    color: white;
}
a:visited{
    color: white;
}
/*
    Footer
*/
footer{
    font-family: serif;
}
footer ul{
    list-style: none;
}
footer > *{
    display: inline-block;
}
.footerLogo{
    float: right;
    height: 5em;
}
/*
    MAP
*/
#map{
    height: 50vh;
}

/*
    BLACKBOARD
*/
.blackboard{
    color: white;
    background-color: black;
    border: 1em ridge #8C6954;
    padding: 1em;
    background-image: url("../img/chalkboard-black.jpg");
    background-size:100%

}
/*
    Strike
    This is a title that looks like it has a <hr> on each side
*/
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1em ;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding: 0 15px;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: white;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
/*
    Button
    This is a basic button class
*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: black;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
.button-blackboard{
    font-family: "chawp", "serif";
    color: white;
}
.button-blackboard:hover {
    background-color: white;
    color: black;
}

.button-left{
    float:left;
}

.button-right{
    float:right;
}
/*
    Text Alignment classes
*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}






