/*  Pub Crawl web app StyleSheet
    By CASA group for CM2003
 */
body{
    background-color: #59323C;
    font-family: "chawp","serif";
    background-image: url("../img/wood.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
}
/*
    CUSTOM FONT
*/
@font-face { font-family: chawp; src: url('http://tm.wildman-productions.org/font/chawp.otf'); }
/*@font-face {*/
    /*font-family: 'chawp';*/
    /*src: url('font/chawp-webfont.eot');*/
    /*src: url('font/chawp-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('font/chawp-webfont.woff2') format('woff2'),*/
    /*url('font/chawp-webfont.woff') format('woff'),*/
    /*url('font/chawp-webfont.ttf') format('truetype'),*/
    /*url('font/chawp-webfont.svg#chawpregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*
    Navigation
    Area where the team logo and the app title go
*/
nav {
}
.site-title img{
    width: 10em;
}
/*
    A(Hypertext Links) tag override
*/
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}
a:visited{
    color: white;
}
/*
    Footer
*/
footer{
    font-family: serif;
    margin-top: 3em;
}
footer a:hover{
    color: wheat;
}
.footer-logo{
    position: relative;
    bottom: 3.5em;
    z-index: 2;
    float: right;
    height: 5em;
    width: 5em;
    background: transparent url('../img/tinified/house1text3.png') no-repeat;
    background-size: 100%;
}
.footer-logo:hover{
    background: transparent url('../img/tinified/house3text3.png') no-repeat;
    background-size: 100%;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
}
/*
    SHELF
    http://www.ocular-rhythm.com/creating-a-shelf-in-css/
*/
.shelf {
    position:relative;
    /*z-index:1;*/
    border-bottom: 1.5em solid #604839;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
}
.shelf-edge {
    height: 2em;
    /*z-index: 99;*/
    position: relative;
    background: #8C6954;
}
/*
    MAP
*/
#map{
    height: 50vh;
    color: black;
}
/*
    BLACKBOARD
*/
.blackboard{
    color: white;
    background-color: black;
    border: 1em ridge #8C6954;
    padding: 1em;
    background-image: url("../img/bg.png");
}
/*
    Strike
    This is a title that looks like it has a <hr> on each side
*/
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    margin: 1em ;
    word-break: keep-all;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 26px;
    padding: 0 15px;
}


.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: white;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
/*
    Pub List
    for the list of pubs on the create, generate, and view route pages
*/
.pub-list{
    list-style: none;
}
.pub-list li{
    border: white 0.1em solid;
    padding: 1em;

}


/*
    Controls
    This is for all the custom elements that are added to the map
*/

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#location-search {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#location-search:focus {
    border-color: #4d90fe;
}

#num-pubs-container{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    /*text-overflow: ellipsis;*/
}

#num-pubs{
    height: 100%;
}



/*
    Button
    This is a basic button class
*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: black;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
.button-blackboard{
    font-family: "chawp", "serif";
    color: white;
}
.button-blackboard:hover {
    background-color: white;
    color: black;
}

.button-left{
    float:left;
}

.button-right{
    float:right;
}
/*
    Text Alignment classes
*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}