/*  Pub Crawl web app StyleSheet
    By CASA group for CM2003
 */

body{
    background-color: #59323C;
    font-family: "Old English","serif";
    background-image: url("../img/wood.jpg");
}

/*
    Navigation
    Area where the team logo and the app title go
*/
nav {
}
.siteTitle{
    font-size: 2em;
    font-family: "Old English Text MT","serif";
}
.siteTitle:hover{
    color: #F2EEB3;
}

/*
    A(Hypertext Links) tag override
*/
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
a:hover{
    color: white;
}
a:visited{
    color: white;
}

/*
    Footer
*/
footer{

}
footer ul{
    list-style: none;
}
footer > *{
    display: inline-block;
}
.footerLogo{
    float: right;
    height: 5em;
}
/*
    BLACKBOARD
*/
.blackboard{
    color: white;
    background-color: black;
    border: 1em ridge #8C6954;
    padding: 1em;
    background-image: url("../img/chalkboard-black.jpg");
    background-size:60%

}

/*
    TitleHr
    This is a title that looks like it has a <hr>
    on each side
*/
.titleHr {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
.titleHr span {
    font-size: 30px;
    background: black;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    color: white;
}
.titleHr:before {
    background: white;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.titleHr:before {
    left: 0;
}

/*
    Button
    This is a basic button class
*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: black;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
.button-blackboard{
    font-family: "Old English", "serif";
    color: white;
}
.button-blackboard:hover {
    background-color: white;
    color: black;
}

.button-left{
    float:left;
}

.button-right{
    float:right;
}


/*
    Text Alignment classes
*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}






