@import url(http://fonts.googleapis.com/css?family=Lato:700,900);

body {
  margin-top: 80px;
  background-attachment: fixed;
  background-color: #0e83cd;
}

h2 {
  margin: 0 auto;
  width: 400px;
  font-size: 36px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: whiteSmoke;
}

#container {
  background-size: 20em;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../image1.png");
  height: 370px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -20px;
  width: 250px;
  /*border-radius: 200px;*/
}

#container div { position: absolute; }

.pour {
  position: absolute;
  left: 45%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px
}
/*
#beaker {
  border: 10px solid #F2ECB2;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: 14px;
  bottom: 0;
  width: 165px;
}*/

#beaker {
  width: 228px;
  height: 230px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 230px;
  border: 8px solid #F2ECB2;
  bottom: 0;
}
#beaker:before,
/*#beaker:after {
  border: 10px solid #000;
  border-bottom: 0;
  border-radius: 40px 40px 0 0;
  content: '';
  height: 30px;
  position: absolute;
  top: -40px;
  width: 30px;
}*/

#beaker:before { left: -50px; }
#beaker:after { right: -50px; }

#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 20px 20px 90px 90px;
  bottom: 0px;
  height: 0px;
  overflow: hidden;
  width: 208px;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}

/* Foam */

.beer-foam {
  position: absolute;
  bottom: 30px;
}

.foam-1, .foam-2, .foam-3, .foam-4, 
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -30px;
  left: 0px;
}
.foam-2 {
  top: -35px;
  left: 20px; 
}
.foam-3 {
  top: -25px;
  left: 50px; 
}
.foam-4 {
  top: -35px;
  left: 80px; 
}
.foam-5 {
  top: -30px;
  left: 110px; 
}
.foam-6 {
  top: -20px;
  left: 145px;
}
.foam-7 {
  top: -30px;
  left: 175px;
}

/* Drunk Text */

.animated {
  -webkit-animation-fill-mode:both;
     -moz-animation-fill-mode:both;
          animation-fill-mode:both;
  
  -webkit-animation-duration:10s;
     -moz-animation-duration:10s;
          animation-duration:10s;
  
  -webkit-animation-delay:6.5s;
     -moz-animation-delay:6.5s;
          animation-delay:6.5s;
}


.animated.drunk {
  -webkit-animation-duration:3s;
     -moz-animation-duration:3s;
          animation-duration:3s;
}

@-webkit-keyframes drunk {
	0% { 
    -webkit-transform: rotate(0); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  }
  
  20%, 60% { 
    -webkit-transform: rotate(80deg); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  }	
	40% { 
    -webkit-transform: rotate(60deg); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  }	
  
	80% { 
    -webkit-transform: rotate(60deg) translateY(0);  
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out;
    opacity: 1;
  }	
  
	100% {
	  -webkit-transform: translateY(700px); 
    opacity: 1;
  }
}

@-moz-keyframes drunk {
	0% { 
    -moz-transform: rotate(0); 
    -moz-transform-origin: top left; 
    -moz-animation-timing-function: ease-in-out; 
  }
  
	20%, 60% { 
    -moz-transform: rotate(80deg); 
    -moz-transform-origin: top left; 
    -moz-animation-timing-function: ease-in-out; 
  }	
  
	40% { 
    -moz-transform: rotate(60deg); 
    -moz-transform-origin: top left; 
    -moz-animation-timing-function: ease-in-out; 
  }
  
	80% {
	  -moz-transform: rotate(60deg) translateY(0); opacity: 1; 
    -moz-transform-origin: top left; 
    -moz-animation-timing-function: ease-in-out; 
  }
  
	100% { 
    -moz-transform: translateY(700px); 
    opacity: 1;
  }
}

@keyframes drunk {
	0% { 
    transform: rotate(0); 
    transform-origin: top left; 
    animation-timing-function: ease-in-out; 
  }
  
	20%, 60% { 
    transform: rotate(80deg); 
    transform-origin: top left; 
    animation-timing-function: ease-in-out; 
  }
  
	40% { 
    transform: rotate(60deg); 
    transform-origin: top left; 
    animation-timing-function: ease-in-out; 
  }
  
	80% { 
    transform: rotate(60deg) translateY(0); 
    opacity: 1; transform-origin: top left; 
    animation-timing-function: ease-in-out; 
  }	
	100% { 
    transform: translateY(700px); 
    opacity: 1;
  }
}

.drunk {
	-webkit-animation-name: drunk;
	-moz-animation-name: drunk;
	animation-name: drunk;
}

#logo-text{
  z-index: 9999999;
  position: relative;
  color: #F2ECB2;
  margin-top: 170px;
  margin-left: 20px;
  font-size: 58pt;
  font-style: italic;
  text-shadow: 2px 2px #000;
  font-family: 'Old English Text MT';
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
}