<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <title>View Previous Route</title>

    <!--Unsemantic framework CSS-->
    <link rel="stylesheet" href="../css/unsemantic-grid-responsive.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="grid-container text-center">
        <a class="site-title" href="../"><img src="../img/bottlecap.png"></a>
    </nav>

    <div class="grid-container blackboard">
        <div class="strike">
            <span>Create A Route</span>
        </div>

        <div class="grid-container text-center">
            <p>Location
                <select>

                </select>
            </p>
            <p>Choose Route
                <select>

                </select>
            </p>
        </div>

        <div class="grid-container">
            <div class="strike">
                <span>Pub Crawl Info</span>
            </div>

        </div>

        <div class="grid-container">
            <div class="strike">
                <span>Pub Crawl Route</span>
            </div>
            <div class="grid-container text-center">
                <form action="../display" method="GET">
                    <input class="button button-blackboard" type="submit" value="Begin Crawl">
                </form>
        </div>
        </div>
    </div>
    <footer class="grid-container">
        <div class="grid-50">
            <ul>
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
        <div class="grid-50">
            <a href="https://github.com/Taity-mini/CASA_CM2003">
                <img class="footerLogo" src="../img/tinified/house1text3.png">
            </a>
        </div>
    </footer>
</body>
</html>