<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <title>View Previous Route</title>

    <!--Unsemantic framework CSS-->
    <link rel="stylesheet" href="../css/unsemantic-grid-responsive.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <!--Google Maps javascript for initialising the map-->
    <script src="../js/map.js"></script>
</head>
<body>
    <nav class="grid-container text-center">
        <a class="site-title" href="../"><img src="../img/bottlecap.png"></a>
    </nav>
    <div class="grid-container blackboard">
        <div class="strike">
            <span>View A Previous Route</span>
        </div>
        <div class="grid-container text-center">
            <p>Location
                <select>
                    <option value="">Location 1</option>
                    <option value="">Location 2</option>
                    <option value="">Location 3</option>
                    <option value="">Location 4</option>
                    <option value="">Location 5</option>
                </select>
            </p>
            <p>Choose Route
                <select>
                    <option value="">Route 1</option>
                    <option value="">Route 2</option>
                    <option value="">Route 3</option>
                    <option value="">Route 4</option>
                </select>
            </p>
        </div>
        <div class="grid-container">
            <div class="strike">
                <span>Pub Crawl Info</span>
                <p>Name: THE REAL PUB CRAWL, THE BEST PUB CRAWL</p>
                <p>Rating: *****</p>
            </div>
        </div>
        <div class="grid-container">
            <div class="strike">
                <span>Pub Crawl Route</span>
            </div>
            <div class="grid-container text-center">
                <form action="../display" method="GET">
                    <div id="map"></div>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRPtLqvmMenEaLmiPo0XqVOMvuVSGvEe0&libraries=visualization&callback=initMap">
                    </script>

                    <ul class="pub-list">
                        <li>Pub 1: <input class="button button-blackboard" type="button" value="Delete"></li>
                        <li>Pub 2: <input class="button button-blackboard" type="button" value="Delete"></li>
                        <li>Pub 3: <input class="button button-blackboard" type="button" value="Delete"></li>
                        <li>Pub 4: <input class="button button-blackboard" type="button" value="Delete"></li>
                        <li>Pub 5: <input class="button button-blackboard" type="button" value="Delete"></li>
                    </ul>

                    <input class="button button-blackboard" type="submit" value="Begin Crawl">
                </form>
            </div>
        </div>
    </div>
    <footer class="grid-container">
        <div class="shelf">
            <div class="footer-left">
                <a href="../Terms/">Terms and Conditions</a>
            </div>
            <div class="footer-right">
                <a class="footer-logo" href="https://github.com/Taity-mini/CASA_CM2003" target="_blank"></a>
            </div>
        </div>
        <div class="shelf-edge"></div>
    </footer>
</body>
</html>