<!DOCTYPE html>
<html lang="en">
<!-- Header starts here holds links to CSS files and google map script-->
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <title>View Previous Route</title>

    <!--Unsemantic framework CSS-->
    <link rel="stylesheet" href="../css/unsemantic-grid-responsive.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <!--JQuery CDN-->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <!--Javascript methods-->
    <script src="../js/methods.js"></script>

    <!-- FireBase scripts-->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

    <!--View previous route script-->
    <script src="js/view.js"></script>

</head>
<body>
<!-- Navigation container starts here holds app logo/tile -->
    <nav class="grid-container text-center">
        <a class="site-title" href="../"><img src="../img/bottlecap.png"></a>
    </nav>
    <!-- Blackboard container starts here holds options to select a pub crawl and map for displaying route -->
    <div class="grid-container blackboard">
        <!-- Container for map, route list and generate route link button-->
        <div class="strike">
            <span>View Previous Route</span>
        </div>
        <div class="grid-container text-center">
            <div class="controls controls-select-container" id="controls-select-container">
                <label>Location <select class="controls-select" id="pub-locations"></select></label>
                <label>Route <select class="controls-select" id="pub-routes"></select></label>
            </div>
            <div id="map"></div>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRPtLqvmMenEaLmiPo0XqVOMvuVSGvEe0&libraries=visualization&callback=initMap">
            </script>

            <!-- Container for pup crawl information-->
            <div class="grid-container">
                <div class="strike">
                    <span>Pub Crawl Info</span>
                    <p>Name: THE REAL PUB CRAWL, THE BEST PUB CRAWL</p>
                    <p>Rating: ★★★★★</p>
                </div>
            </div>

            <div class="strike">
                <span>Pub Crawl Route</span>
            </div>

            <ul class="pub-list"></ul>

            <form method="GET">
                <input class="button button-blackboard" type="submit" value="Begin Crawl">
            </form>
        </div>
    </div>
    <!-- Footer container starts here holds shelf, terms and conditions link and group logo-->
    <footer class="grid-container">
        <div class="shelf">
            <div class="footer-left">
                <a href="../Terms/">Terms and Conditions</a>
            </div>
            <div class="footer-right">
                <a class="footer-logo" href="https://github.com/Taity-mini/CASA_CM2003" target="_blank"></a>
            </div>
        </div>
        <div class="shelf-edge"></div>
    </footer>
</body>
</html>